@font-face {
  font-family: "Poppins";
  src: local(""), url(../fonts/poppins-v15-latin-regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
}

/* line 10, ../../../Netmatters-Homepage-Project/scss/Base/_typography.scss */
.mybold-600-26 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin-bottom: 6px;
}

/* line 17, ../../../Netmatters-Homepage-Project/scss/Base/_typography.scss */
.h4-36 {
  font-size: 36px;
  line-height: 39.6px;
  margin-top: 0;
}

/* line 23, ../../../Netmatters-Homepage-Project/scss/Base/_typography.scss */
.h1-64 {
  font-size: 64px;
  line-height: 5rem;
  font-weight: 600;
}

/* line 29, ../../../Netmatters-Homepage-Project/scss/Base/_typography.scss */
.h1-2p5rem {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 600;
}

/* line 35, ../../../Netmatters-Homepage-Project/scss/Base/_typography.scss */
.testimonial {
  display: inline-block;
  font-weight: 600;
  font-size: 1.3rem;
  font-style: italic;
  line-height: 1.875rem;
  letter-spacing: 0.6px;
}

/* line 45, ../../../Netmatters-Homepage-Project/scss/Base/_typography.scss */
.citation {
  display: inline-block;
  font-weight: 600;
  color: #a3a8ac;
  font-size: 1.1rem;
  line-height: 1.875;
}

/* line 52, ../../../Netmatters-Homepage-Project/scss/Base/_typography.scss */
.citation + span {
  display: inline-block;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.875;
}

/* line 59, ../../../Netmatters-Homepage-Project/scss/Base/_typography.scss */
.citation + span a {
  display: inline-block;
}

/* line 65, ../../../Netmatters-Homepage-Project/scss/Base/_typography.scss */
.welcome {
  line-height: 30px;
}

/* line 68, ../../../Netmatters-Homepage-Project/scss/Base/_typography.scss */
.welcome :first-child {
  margin-top: -16px;
}

/* line 74, ../../../Netmatters-Homepage-Project/scss/Base/_typography.scss */
.welcome-anchors :last-child {
  margin-bottom: 50px;
}

/* line 80, ../../../Netmatters-Homepage-Project/scss/Base/_typography.scss */
body {
  font: 1rem "Poppins";
  letter-spacing: 0.4px;
  line-height: 1.375rem;
}

/* line 86, ../../../Netmatters-Homepage-Project/scss/Base/_typography.scss */
.footer-sub, .footer-menu, .footer-menu ul {
  font-size: 0.8125rem;
  padding-inline-start: 0em;
}

/* line 92, ../../../Netmatters-Homepage-Project/scss/Base/_typography.scss */
.footer-sub {
  line-height: 1.13rem;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
/* line 11, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
/* line 23, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
/* line 31, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 40, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 53, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 64, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
/* line 76, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 85, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 95, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 105, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
/* line 116, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 125, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 133, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
sub {
  bottom: -0.25em;
}

/* line 137, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
/* line 148, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 160, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 176, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 186, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
/* line 195, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 206, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 218, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
/* line 229, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 240, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 253, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
/* line 261, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
/* line 270, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 280, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 290, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
/* line 299, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 308, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
/* line 320, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 328, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
/* line 339, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
/* line 347, ../../../Netmatters-Homepage-Project/scss/Layout/_normalise.scss */
[hidden] {
  display: none;
}

/* line 1, ../../../Netmatters-Homepage-Project/scss/Layout/_banner.scss */
.banner {
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0 0 1.25rem;
  color: #fff;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 550px;
  position: relative;
}

/* line 19, ../../../Netmatters-Homepage-Project/scss/Layout/_banner.scss */
.banner .banner-img-1 {
  background-image: url(../img/thumbnails/home-YLei.webp);
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 27, ../../../Netmatters-Homepage-Project/scss/Layout/_banner.scss */
.banner .banner-img-2 {
  background-image: url(../img/thumbnails/home-O67Y.webp);
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 35, ../../../Netmatters-Homepage-Project/scss/Layout/_banner.scss */
.banner .banner-img-3 {
  background-image: url(../img/thumbnails/home-gay8.webp);
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 43, ../../../Netmatters-Homepage-Project/scss/Layout/_banner.scss */
.banner .banner-img-4 {
  background-image: url(../img/thumbnails/home-6yTp.webp);
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 51, ../../../Netmatters-Homepage-Project/scss/Layout/_banner.scss */
.banner .banner-img-5 {
  background-image: url(../img/thumbnails/home-J8Xx.webp);
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 59, ../../../Netmatters-Homepage-Project/scss/Layout/_banner.scss */
.banner .banner-img-6 {
  background-image: url(../img/thumbnails/home-K0pn.webp);
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 67, ../../../Netmatters-Homepage-Project/scss/Layout/_banner.scss */
.banner .banner-img-7 {
  background-image: url(../img/thumbnails/home-MSxH.webp);
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 75, ../../../Netmatters-Homepage-Project/scss/Layout/_banner.scss */
.banner .banner-text {
  text-align: center;
  padding: 0 15px;
}

/* line 79, ../../../Netmatters-Homepage-Project/scss/Layout/_banner.scss */
.banner .banner-text * {
  text-align: center;
}

/* line 82, ../../../Netmatters-Homepage-Project/scss/Layout/_banner.scss */
.banner .banner-text > div {
  margin-bottom: 1.25rem;
}

/* line 85, ../../../Netmatters-Homepage-Project/scss/Layout/_banner.scss */
.banner .banner-text > p {
  margin-bottom: 0.375rem;
  margin-top: 0;
}

/* line 89, ../../../Netmatters-Homepage-Project/scss/Layout/_banner.scss */
.banner .banner-text > a {
  position: relative;
  margin-bottom: 1.125rem;
  margin-top: 1.938rem;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

/* line 100, ../../../Netmatters-Homepage-Project/scss/Layout/_banner.scss */
.LRgradient::after {
  background: linear-gradient(270deg, #000 0%, transparent 50%);
  z-index: 10;
}

/* line 1, ../../../Netmatters-Homepage-Project/scss/Layout/_layout.scss */
body {
  margin: 0;
  background-color: #323544;
}

/* line 7, ../../../Netmatters-Homepage-Project/scss/Layout/_layout.scss */
.banner-content {
  align-content: center;
  padding: 3.75rem 0;
  margin: 0 auto;
}

/* line 14, ../../../Netmatters-Homepage-Project/scss/Layout/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 18, ../../../Netmatters-Homepage-Project/scss/Layout/_layout.scss */
.welcome-flex-wrapper {
  display: flex;
  flex-direction: column;
}

/* line 21, ../../../Netmatters-Homepage-Project/scss/Layout/_layout.scss */
.welcome-flex-wrapper .star {
  width: 46.83px;
  height: 50px;
}

/* line 25, ../../../Netmatters-Homepage-Project/scss/Layout/_layout.scss */
.welcome-flex-wrapper .citation-wrapper {
  margin-bottom: 25px;
}

/* line 31, ../../../Netmatters-Homepage-Project/scss/Layout/_layout.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
}

/* line 33, ../../../Netmatters-Homepage-Project/scss/Layout/_layout.scss */
.container .welcome-flex-wrapper {
  display: flex;
  flex-direction: column;
}

/* line 36, ../../../Netmatters-Homepage-Project/scss/Layout/_layout.scss */
.container .welcome-flex-wrapper .star {
  width: 46.83px;
  height: 50px;
}

@media (min-width: 768px) {
  /* line 31, ../../../Netmatters-Homepage-Project/scss/Layout/_layout.scss */
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  /* line 31, ../../../Netmatters-Homepage-Project/scss/Layout/_layout.scss */
  .container {
    width: 970px;
  }
}

@media (min-width: 1260px) {
  /* line 31, ../../../Netmatters-Homepage-Project/scss/Layout/_layout.scss */
  .container {
    width: 1200px;
  }
}

/* line 61, ../../../Netmatters-Homepage-Project/scss/Layout/_layout.scss */
.no-LR-padding {
  padding-left: 0;
  padding-right: 0;
}

/* line 1, ../../../Netmatters-Homepage-Project/scss/Layout/_footer.scss */
footer {
  padding: 47px 0 0;
  position: relative;
  line-height: 1.375rem;
}

/* line 6, ../../../Netmatters-Homepage-Project/scss/Layout/_footer.scss */
footer .footer-company-info {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-content: start;
}

@media (min-width: 1260px) {
  /* line 6, ../../../Netmatters-Homepage-Project/scss/Layout/_footer.scss */
  footer .footer-company-info {
    margin-right: 80px;
  }
}

/* line 17, ../../../Netmatters-Homepage-Project/scss/Layout/_footer.scss */
footer .footer-company-info h4 {
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: 24;
  margin-bottom: 26px;
  font-weight: 400;
}

/* line 26, ../../../Netmatters-Homepage-Project/scss/Layout/_footer.scss */
footer .footer-company-info .contact-icons img {
  width: 65px;
  height: 65px;
}

/* line 34, ../../../Netmatters-Homepage-Project/scss/Layout/_footer.scss */
footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  flex-direction: column;
}

@media (min-width: 1260px) {
  /* line 34, ../../../Netmatters-Homepage-Project/scss/Layout/_footer.scss */
  footer .footer-row {
    flex-direction: row;
    width: 1200px;
  }
}

/* line 47, ../../../Netmatters-Homepage-Project/scss/Layout/_footer.scss */
footer .footer-row .wrap-items {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  /* line 47, ../../../Netmatters-Homepage-Project/scss/Layout/_footer.scss */
  footer .footer-row .wrap-items {
    flex-direction: row;
    flex-basis: 50%;
  }
}

@media (min-width: 1260px) {
  /* line 47, ../../../Netmatters-Homepage-Project/scss/Layout/_footer.scss */
  footer .footer-row .wrap-items {
    align-content: space-between;
    flex-basis: auto;
  }
}

/* line 65, ../../../Netmatters-Homepage-Project/scss/Layout/_footer.scss */
footer .footer-row .footer-menu {
  padding: 0 0 0 0;
  width: 200px;
}

@media (min-width: 768px) {
  /* line 65, ../../../Netmatters-Homepage-Project/scss/Layout/_footer.scss */
  footer .footer-row .footer-menu {
    flex: 50%;
  }
}

@media (min-width: 992px) {
  /* line 65, ../../../Netmatters-Homepage-Project/scss/Layout/_footer.scss */
  footer .footer-row .footer-menu {
    flex: 25%;
    flex-direction: row;
  }
}

@media (min-width: 1260px) {
  /* line 65, ../../../Netmatters-Homepage-Project/scss/Layout/_footer.scss */
  footer .footer-row .footer-menu {
    margin-bottom: 40px;
    flex-wrap: nowrap;
  }
}

/* line 83, ../../../Netmatters-Homepage-Project/scss/Layout/_footer.scss */
footer .footer-row .footer-menu h4 {
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 26px;
  font-weight: 400;
}

/* line 91, ../../../Netmatters-Homepage-Project/scss/Layout/_footer.scss */
footer .footer-row .footer-menu ul {
  list-style-type: none;
  margin-bottom: 30px;
}

/* line 104, ../../../Netmatters-Homepage-Project/scss/Layout/_footer.scss */
.footer-sub {
  width: 100%;
  margin-left: 15px;
  margin-right: auto;
  background-color: #212330;
  color: white;
  line-height: 1.15rem;
  padding: 15px 0 15px 0;
  display: flex;
  flex-direction: column;
}

/* line 115, ../../../Netmatters-Homepage-Project/scss/Layout/_footer.scss */
.footer-sub div {
  padding: 0 0 8 14;
}

/* line 119, ../../../Netmatters-Homepage-Project/scss/Layout/_footer.scss */
.footer-sub .hide-hyphen {
  display: none;
}

@media (min-width: 768px) {
  /* line 104, ../../../Netmatters-Homepage-Project/scss/Layout/_footer.scss */
  .footer-sub {
    flex-direction: row;
    padding: 0 0 20 15;
  }
  /* line 127, ../../../Netmatters-Homepage-Project/scss/Layout/_footer.scss */
  .footer-sub .hide-hyphen {
    display: block;
  }
}

/* line 2, ../../../Netmatters-Homepage-Project/scss/Components/_buttons.scss */
.button-no-action-large-dkblueBG {
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  width: fit-content;
  margin-top: 1em;
  margin-right: 0.25em;
  padding: 10px 30px 10px 30px;
  background-color: #212330;
  text-transform: uppercase;
  border-radius: 0.3rem;
  line-height: 35px;
}

/* line 15, ../../../Netmatters-Homepage-Project/scss/Abstracts/_mixins.scss */
.button-no-action-large-dkblueBG:hover {
  background-color: #121318;
}

/* line 6, ../../../Netmatters-Homepage-Project/scss/Components/_buttons.scss */
.button-no-action-large-blueBG {
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  width: fit-content;
  margin-top: 1em;
  margin-right: 0.25em;
  padding: 10px 30px 10px 30px;
  background-color: #4387f6;
  text-transform: uppercase;
  border-radius: 0.3rem;
  line-height: 35px;
}

/* line 15, ../../../Netmatters-Homepage-Project/scss/Abstracts/_mixins.scss */
.button-no-action-large-blueBG:hover {
  background-color: #166af4;
}

/* line 10, ../../../Netmatters-Homepage-Project/scss/Components/_buttons.scss */
.button-no-action-large-greenBG {
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  width: fit-content;
  margin-top: 1em;
  margin-right: 0.25em;
  padding: 10px 30px 10px 30px;
  background-color: #00b67b;
  text-transform: uppercase;
  border-radius: 0.3rem;
  line-height: 35px;
}

/* line 15, ../../../Netmatters-Homepage-Project/scss/Abstracts/_mixins.scss */
.button-no-action-large-greenBG:hover {
  background-color: #009b69;
}

/* line 14, ../../../Netmatters-Homepage-Project/scss/Components/_buttons.scss */
.button-no-action-large-purpleBG {
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  width: fit-content;
  margin-top: 1em;
  margin-right: 0.25em;
  padding: 10px 30px 10px 30px;
  background-color: #926fb1;
  text-transform: uppercase;
  border-radius: 0.3rem;
  line-height: 35px;
}

/* line 15, ../../../Netmatters-Homepage-Project/scss/Abstracts/_mixins.scss */
.button-no-action-large-purpleBG:hover {
  background-color: #7e57a0;
}

/* line 18, ../../../Netmatters-Homepage-Project/scss/Components/_buttons.scss */
.button-no-action-large-goldBG {
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  width: fit-content;
  margin-top: 1em;
  margin-right: 0.25em;
  padding: 10px 30px 10px 30px;
  background-color: #f7b322;
  text-transform: uppercase;
  border-radius: 0.3rem;
  line-height: 35px;
}

/* line 15, ../../../Netmatters-Homepage-Project/scss/Abstracts/_mixins.scss */
.button-no-action-large-goldBG:hover {
  background-color: #e8a008;
}

/* line 22, ../../../Netmatters-Homepage-Project/scss/Components/_buttons.scss */
.button-no-action-large-brickredBG {
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  width: fit-content;
  margin-top: 1em;
  margin-right: 0.25em;
  padding: 10px 30px 10px 30px;
  background-color: #d64541;
  text-transform: uppercase;
  border-radius: 0.3rem;
  line-height: 35px;
}

/* line 15, ../../../Netmatters-Homepage-Project/scss/Abstracts/_mixins.scss */
.button-no-action-large-brickredBG:hover {
  background-color: #c42e2a;
}

/* line 26, ../../../Netmatters-Homepage-Project/scss/Components/_buttons.scss */
.button-no-action-large-ceriseBG {
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  width: fit-content;
  margin-top: 1em;
  margin-right: 0.25em;
  padding: 10px 30px 10px 30px;
  background-color: #f62459;
  text-transform: uppercase;
  border-radius: 0.3rem;
  line-height: 35px;
}

/* line 15, ../../../Netmatters-Homepage-Project/scss/Abstracts/_mixins.scss */
.button-no-action-large-ceriseBG:hover {
  background-color: #e80a42;
}

/* line 30, ../../../Netmatters-Homepage-Project/scss/Components/_buttons.scss */
.link-underline-only e80a42
a {
  text-decoration: none;
  color: #fff;
}

/* line 34, ../../../Netmatters-Homepage-Project/scss/Components/_buttons.scss */
.link-underline-only e80a42
a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */