.banner {
    display: flex;
    flex-basis: content;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding: 3.75rem 0;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    color: #fff;
    background-color: #000;
    background-image: url(file///../../../../img/thumbnails/home-YLei.webp);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    min-height: 550px;
    height: 608.5px;

}

div[class*=banner-text] {
    width: calc( 100vw - 30px );
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    
    > div {
        margin-bottom: 20px;
    }
    > p {
        margin-bottom: 6px;
        margin-top: 0;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .banner-button {
        z-index: 0;

        a {          
            position: relative;
            margin-bottom: 1.125rem;
            margin-top: 1.938rem;
            margin-left: auto;
            margin-right: auto;
            width: fit-content;
        }
    }
}

// .LRgradient::before {
//     background: linear-gradient(90deg, #000, transparent 50%);
//     background-blend-mode: darken;
//     z-index: 3;
// }
