.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/thumbnails/home-YLei.webp);
    min-height: 550px;
    position: relative;

    .content {

        .text {
            &:first-child {
                margin-bottom: 1.25rem;
            }
        }
    }
}