.banner {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 3.75rem 0;
    margin: 0 auto;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    color: #fff;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 550px;

    @include display-banner(1);
}

div[class*=banner-text] {
    
    width: calc( 100vw - 30px );
    justify-content: center;
    padding: 0;
    display: none;
    text-align: center;
    
    > div {
        margin-bottom: 1.25rem;
    }
    > p {
        margin-bottom: 0.375rem;
        margin-top: 0;
    }
    > a {          
        position: relative;
        margin-bottom: 1.125rem;
        margin-top: 1.938rem;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }
}

// span[class*=banner-image] {
    // width: 100vw;
    // height: auto;
    // padding: 0;
    // margin: 0;
    // display: none;
// }


.LRgradient::before {
    background: linear-gradient(270deg, #000 0%, transparent 50%);
    z-index: 10;
}