.banner {

    font-size: 2.5rem;
    line-height: 3rem;
    margin: 0 0 1.25rem;
    color: #fff;
    font-weight: 600;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 550px;
    position: relative;

    .banner-img-1 {
        background-image: url(../img/thumbnails/home-YLei.webp);
        background-color: black;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .banner-img-2 {
        background-image: url(../img/thumbnails/home-O67Y.webp);
        background-color: black;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
       
    .banner-img-3 {
        background-image: url(../img/thumbnails/home-gay8.webp);
        background-color: black;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
       
    .banner-img-4 {
        background-image: url(../img/thumbnails/home-6yTp.webp);
        background-color: black;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
       
    .banner-img-5 {
        background-image: url(../img/thumbnails/home-J8Xx.webp);
        background-color: black;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .banner-img-6 {
        background-image: url(../img/thumbnails/home-K0pn.webp);
        background-color: black;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .banner-img-7 {
        background-image: url(../img/thumbnails/home-MSxH.webp);
        background-color: black;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .banner-text {
        text-align: center;
        padding: 0 15px;
        
        * {
            text-align: center;
        }
        > div {
            margin-bottom: 1.25rem;
        }
        > p {
            margin-bottom: 0.375rem;
            margin-top: 0;
        }
        > a {          
            position: relative;
            margin-bottom: 1.125rem;
            margin-top: 1.938rem;
            margin-left: auto;
            margin-right: auto;
            width: fit-content;
        }
    }    
}

.LRgradient::after {
    background: linear-gradient(270deg, #000 0%, transparent 50%);
    z-index: 10;
}