.clients {
    display: flex;
    flex-direction: row;
    width: 120%;
    height: 170px;
    padding: 50px 0;
    background-color: white;

    .item {
        position: relative;
        display:flex;
        flex-grow: 1;
        align-items: center;
        vertical-align: middle;
        max-width: 240px;
        height: 70px;
        margin-right: 50px;
        width: fit-content;
        
        .pop-up-text {
            display: none;
        }


        img {
            filter: grayscale(100%);
            display: block;
            max-width:200px;
            max-height: 70px;
            width: auto;

            &:hover {
                filter: grayscale(0%);
                + .pop-up-text {
                    display: block;
                    // background-color: #323544; Re-enable when background of section above is white
                    background-color: #0b31eb;
                    color: white;
                    position: absolute;
                    max-width: 280px;
                    width: 280px;
                    bottom: 85px;
                    text-align: center;
                    left: -50px;
                    margin-bottom: 50px;
                }
            }
        }
    }
}
