.clients {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    width: 120%;
    height: 170px;
    padding: 50px 0;
    background-color: white;

    .item {
        position: relative;
        display:flex;
        flex-grow: 0;
        align-items: center;
        vertical-align: middle;
        // max-width: 240px;
        height: 70px;
        margin-right: 50px;
        width: fit-content;
        
        .pop-up-text {
            display: none;
        }

        div {            
            display: flex;

            img {
                filter: grayscale(100%);
                display: block;
                max-width:200px;
                max-height: 70px;
                width: auto;

                &:hover {
                    filter: grayscale(0%);

                    ~ div {
                        display: block;
                        animation: hide 3s 10s forwards;
                        // background-color: #323544; Re-enable when background of section above is white,
                        // delete line below and change arrow colour.
                        background-color: #0b31eb;
                        color: white;
                        position: absolute;
                        max-width: 280px;
                        width: 280px;
                        bottom: 70px;
                        text-align: center;
                        left: calc(50% - 140px);
                        margin-bottom: 50px;

                        .client-arrow {
                            @include client-popup-triangle($triangle-colour: #0b31eb);
                            position: relative;
                            top: 56px;
                        }

                    }
                }
            }

        }


        
    }
}
