.clients {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    width: 100%;
    height: 170px;
    padding: 50px 0;
    background-color: white;
    overflow-x: clip;

    .item, .item > * {

        &:hover {

            .pop-up-text {
                display: block;
                background-color: #323544;
                color: white;
                position: absolute;
                max-width: 280px;
                width: 280px;
                bottom: 70px;
                text-align: center;
                left: calc(50% - 140px);
                margin: 0 0 50px;

                .client-arrow {
                    @include client-popup-triangle($triangle-colour: #323544);
                    position: absolute;
                    left: calc(50% - 35px);
                    bottom: -35px;

                }

                a {
                    padding: 5px 15px;
                }
            }
        }
    }

    .item {
        position: relative;
        display: flex;
        flex-grow: 0;
        align-items: center;
        vertical-align: middle;
        height: 70px;
        padding-left: 25px;
        padding-right: 25px;
        width: fit-content;
        
        .pop-up-text {

            &::before, &::after {               // Extends the :hover area
                content: '';
                position: absolute;
                top: 100%;
                bottom: -50px;
                left:0px;
                width: 280px;
            }

            display: none;
            padding: 20px;

            h3 {
                font-size: 1.125rem;
                font-weight: 400;
                padding-bottom: 17px;
            }

            :nth-child(2) {
                display: block;
                font-size: .8125rem;
                line-height: 1.375rem;
                padding-bottom: 11px;
            }

            :nth-child(4) {
                display: flex;
                justify-content: center;
                height: 47px;
                width: 240px;

                a i {
                    position: relative;
                    width: fit-content;
                    top: 0rem;
                    left: 0.5rem;
                    z-index: 2;
                }
            }
        }


        div {

            img {
                filter: grayscale(100%);
                display: block;
                max-width:200px;
                max-height: 70px;
                width: auto;
            }

            &:hover {

                img {
                    filter: grayscale(0%);
                }

            }
        }
    }
}
