#container-clients {
        width: calc((100vw - 15) * 1px);
        height: 170px;
        padding: 50px 0;
        background-color: #ffffff;

        .clients .slick-list .slick-track .slick-slide div .item .client-image-wrapper, .clients .slick-list .slick-track .slick-slide div .item .client-image-wrapper .pop-up-text {
            
            &:hover {
                .pop-up-text {
                    display: block;
                }
            }
        }

    .clients {
        overflow-x: clip;
        overflow-y: visible;
        min-width: 0;

        .item {
            position: relative;
            align-content: center;
            vertical-align: middle;
            height: 70px;
            padding-left: 25px;
            padding-right: 25px;
            width: fit-content;
            cursor: pointer;            

            .pop-up-text::after {                   // Extends the :hover area
                    content: '';
                    position: absolute;
                    height: 70px;
                    top: 100%;
                    left:0px;
                    width: 280px;
                    z-index: 1;
            }

            .pop-up-text {
                display: none;
                position: absolute;
                color: white;
                background-color: #323544;
                padding: 20px;
                max-width: 280px;
                width: 280px;
                bottom: 70px;
                text-align: center;
                left: calc(50% - 140px);
                margin: 0 0 50px;

                .client-arrow {
                    @include client-popup-triangle($triangle-colour: #323544);
                    position: absolute;
                    left: calc(50% - 35px);
                    bottom: -35px;

                }

                h3 {
                    font-size: 1.125rem;
                    font-weight: 400;
                    padding-bottom: 17px;
                }

                :nth-child(2) {
                    display: block;
                    font-size: .8125rem;
                    line-height: 1.375rem;
                    padding-bottom: 11px;
                }

                :nth-child(4) {
                    display: flex;
                    justify-content: center;
                    height: 47px;
                    width: 240px;

                    a {                        
                        padding: 5px 15px;
                        
                        i {
                            position: relative;
                            width: fit-content;
                            top: 0rem;
                            left: 0.5rem;
                            // z-index: 2;
                        }
                    }
                }
            }


            div {

                img {
                    filter: grayscale(100%);
                    display: block;
                    max-width:200px;
                    max-height: 70px;
                    width: auto;
                }

                &:hover {

                    img {
                        filter: grayscale(0%);
                    }

                }
            }
        }
    }
}