.container-dropdown {
    display: none;

    @media (min-width: 992px) {
        display: block;
    }

    .dropdown-items {
        margin: 0 auto;

        .hidden {
            display: none;
        }

        .dd-item-wrapper {
            display: flex;
            flex-direction: row;

            width: 100%;

            [class*=dd-item] {
                min-width: 134.285px;
                max-width: 167.143px;
                text-align: center;
                
                .dd-hidden {
                    display: none;
                }

                .dd-icon {
                    padding-bottom: 0px;
                    padding-top: 16px;
                    height: auto;
                }

                .menu-item-sm-title {
                    font-size: 12.5px;
                    line-height: 10px;
                }

                .menu-item-title-the-rest {
                    font-size: 1.125rem;
                    line-height: 1.125;
                    padding-bottom: 15px;
                }

                .dd-triangle {
                    width: 100%;
                }

                @media (min-width: 992px) {
                    width: 134.28px;
                }

                @media (min-width: 1260px) {
                    width: 167.15px;
                }          

            }
            
            .dd-item-1:hover {
                @include show-dd-submenu($dd-sbm: ".dd-sbm-1", $dd-item: ".dd-item-1", $bg-dark: #526781, $bg-lgt: #67809f)
            }

            .dd-item-2:hover {
                @include show-dd-submenu($dd-sbm: ".dd-sbm-2", $dd-item: ".dd-item-2", $bg-dark: #286abd, $bg-lgt: #4183d7)
            }
            
            .dd-item-3:hover {
                @include show-dd-submenu($dd-sbm: ".dd-sbm-3", $dd-item: ".dd-item-3", $bg-dark: #25a25a, $bg-lgt: #2ecc71)
            }
            
            .dd-item-4:hover {
                @include show-dd-submenu($dd-sbm: ".dd-sbm-4", $dd-item: ".dd-item-4", $bg-dark: #bc2c28, $bg-lgt: #d64541)
            }

            .dd-item-5:hover {
                @include show-dd-submenu($dd-sbm: ".dd-sbm-5", $dd-item: ".dd-item-5", $bg-dark: #79539a, $bg-lgt: #926fb1)
            }

            .dd-item-6:hover {
                @include show-dd-submenu($dd-sbm: ".dd-sbm-6", $dd-item: ".dd-item-6", $bg-dark: #de093f, $bg-lgt: #f62459)
            }

            .dd-item-7:hover {
                @include show-dd-submenu($dd-sbm: ".dd-sbm-7", $dd-item: ".dd-item-7", $bg-dark: #a3331d, $bg-lgt: #ce4125)
            }

        }
    }
}
