

footer {
    padding: 47px 0 0;
    position: relative;
    line-height: 1.375rem;

    .footer-company-info {
        width: 320px;
        display: flex;
        flex-direction: column;
        align-content: start;

        @media (min-width: 1260px) {
            margin-right: 80px;
        }

        
        h4 {
            text-transform: uppercase;
            font-size: 1rem;
            margin-top: 24;
            margin-bottom: 26px;
            font-weight:400;
        }

        .contact-icons {
            img {
            width: 65px;
            height: 65px;        
            }
        }

    }

    .footer-row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        flex-direction: column;

        @media (min-width: 1260px) {
            flex-direction: row;
            width: 1200px;
            

        }

        .wrap-items {
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            flex-wrap: wrap;

            @media (min-width: 768px) {
                flex-direction: row;
                flex-basis: 50%;
            }

            @media (min-width: 1260px) {
                align-content: space-between;
                flex-basis: auto;
            }

        }
        
        .footer-menu {
            padding: 0 0 0 0;
            width: 200px;
                                                            
            @media (min-width: 768px) {
                flex: 50%;
            }

            @media (min-width: 992px) {
                flex: 25%;                
                flex-direction: row;
            }

            @media (min-width: 1260px) {
                margin-bottom: 40px;
                flex-wrap: nowrap;
            }

            h4 {
                text-transform: uppercase;
                font-size: 1rem;
                margin-top: 0;
                margin-bottom: 26px;
                font-weight:400;
            }

            ul {
                list-style-type: none;
                margin-bottom: 30px;
            }
        }

       
    }



}

.footer-sub {
    width: 120%;
    margin-left: 0;
    background-color: #212330;
    color: white;
    line-height: 1.15rem;
    padding: 15px 0 15px 15px;
    display: flex;
    flex-direction: column;

    div {
        padding: 0 0 8 14;
    }

    .hide-hyphen {
        display: none;
    }
    
    @media (min-width: 768px) {
        flex-direction: row;
        padding: 0 0 20 15;

        .hide-hyphen {
            display: block;
        }
    }    
}