
.container-footer {
    margin-top: 20px;
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff; // *SNAGGING* - Colour variables
    background-color: #323544;

    @media (min-width: 768px) {
        padding-left: calc(((100vw - 750px) / 2));
        padding-right: calc(((100vw - 750px) / 2));
    }

    @media (min-width: 992px) {
        padding-left: calc(((100vw - 970px) / 2));
        padding-right: calc(((100vw - 970px) / 2));
    }

    @media (min-width: 1260px) {
        padding-left: calc(((100vw - 1200px) / 2));
        padding-right: calc(((100vw - 1200px) / 2));
    }

            margin: 0 auto;


    footer {
        padding: 27px 0 0;
        line-height: 1.375rem;

        .footer-row {

            display: flex;
            flex-wrap: wrap;
            flex-direction: column;

            @media (min-width: 1260px) {
                flex-direction: row;
                width: 1200px;
                

            }

            #footer-company-info {
                width: calc((100vw - 15) * 1px);
                display: flex;
                flex-direction: column;
                align-content: start;

                @media (min-width: 1260px) {
                    margin-right: 80px;
                    width: fit-content;
                }

                .NM-logo {

                    
                    img {
                        width:250px;
                        height: 51px;

                        @media (min-width: 480px) {
                            width: 320px;
                            height: 65.6px;
                        }
                    }
                }

                
                h4 {
                    text-transform: uppercase;
                    font-size: 1rem;
                    margin-top: 24px;
                    margin-bottom: 26px;
                    font-weight:400;
                }

                .contact-icons {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    margin-bottom: 30px;

                    .brand-link-1 {
                        a i {
                            &:hover {
                                background-color: #3b5998;
                            }
                        }
                    }

                    .brand-link-2 {
                        a i {
                            &:hover {
                                background-color: #0077b5;
                            }
                        }
                    }

                    .brand-link-3 {
                        a i {
                            &:hover {
                                background-color: #00aced;
                            }
                        }
                    }

                    .brand-link-4 {
                        a i {
                            &:hover {
                                background-color: #d93175;
                            }
                        }
                    }

                }

                a {
                    color: white;
                    text-decoration: none;

                    i {

                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        height: 56.67px;
                        width: 66.7px;
                        margin: 0 10px 10px 0;
                        background-color: #212330;

                    }
                }

                @media (max-width: 480px) {
                    width: 250px;

                    a i {
                        width: 109.31px;
                    }

                }
            }

            .wrap-items {
                display: grid;
                grid-template-rows: auto;

                @media (min-width: 768px) {
                    grid-template-columns: 375px 375px;
                }

                @media (min-width: 992px) {
                    grid-template-columns: 242.5px 242.5px 242.5px 242.5px;
                }

                @media (min-width: 1260px) {
                    grid-template-columns: 200px 200px 200px 200px;
                }

                :last-child ul {
                    margin-bottom: 0;
                }

                .footer-menu {
                    padding: 0 0 0 0;
                    width: 100%;

                    h4 {
                        text-transform: uppercase;
                        font-size: 1rem;
                        margin-top: 0;
                        margin-bottom: 26px;
                        font-weight:400;
                    }

                    ul {
                        list-style-type: none;
                        margin-bottom: 30px;
                    }

                    @media (min-width: 768px) {
                        width: 375px;
                    }

                    @media (min-width: 992px) {
                        width: 242.5px;
                    }

                    @media (min-width: 1260px) {
                        margin-bottom: 40px;
                        width: 200px;
                    }

                }
            }
        }
    }
}
.sub-footer-top {
        width: calc((100vw - 15) * 1px);
        background-color: #212330;
        color: white;


    .sub-footer-wrapper {

        @media (min-width: 768px) {
            width: 750px;
            margin: 0 auto;
        }

        @media (min-width: 992px) {
            width: 970px;
        }

        @media (min-width: 1260px) {
            width: 1200px;
        }

        .footer-sub {
            margin: 0 auto;
            line-height: 1.15rem;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 15px;
            display: flex;
            flex-direction: column;

            .hide-hyphen {
                display: none;
            }

            @media (min-width: 768px) {
                flex-direction: row;
                padding-left: 10px;

                .hide-hyphen {
                    display: block;
                }
            }

        }
    }
}