footer {
    padding: 0 0 0;
    position: relative;
    line-height: 1.375rem;


    .footer-row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        
        .footer-menu {
            padding: 0 0 0 0;
            flex: 100%;
            flex-direction: column;
                                                
            @media (min-width: 768px) {
                flex: 50%;
                flex-direction: row;
            }

            @media (min-width: 992px) {
                flex: 25%;
            }

            @media (min-width: 1260px) {
                margin-bottom: 40px;
            }

            h4 {
                text-transform: uppercase;
                font-size: 1rem;
                margin-top: 0;
                margin-bottom: 26px;
                font-weight:400;
            }

            ul {
                list-style-type: none;
                margin-bottom: 30px;

                a {
                    color: white;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

       
    }



}

.footer-sub {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #212330;
    color: white;
    padding: 15px 0 15px 0;
    display: flex;
    flex-direction: column;
    line-height: 1.15rem;

    div {
        padding: 0 0 8 14;
    }

    .hide-hyphen {
        display: none;
    }
    
    @media (min-width: 768px) {
        flex-direction: row;
        padding: 0 0 20 15;

        .hide-hyphen {
            display: block;
        }
    }

    a {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

}