.container-LNews {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100vw;
    // padding-left: 15px;
    // padding-right: 15px;
    color: #333645; // *SNAGGING* - Colour variables
    background-color: #fff;


    .latest-news {
        
        @media (min-width: 768px) {
            width: 750px;
        }

        @media (min-width: 992px) {
            width: 970px;
        }

        @media (min-width: 1260px) {
            width: 1200px;
        }

        background-color: white; // *SNAGGING* colour variables
        color: #333645; // *SNAGGING* colour variables
        max-width: 1200px;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-right: 0;
        margin-left: 0;

        .header-bar-wrapper {

            .header-bar {
                display: flex;
                flex-basis: fit-content;
                flex-grow: 0;
                flex-wrap: wrap;
                justify-content: space-between;
                            
                p {
                    align-items: start;
                    margin: 0 0 15px 15px;

                    strong {
                        font-size: 2.25rem;
                        font-weight: 600;
                    }
                }

                h3 {
                    a {
                        text-decoration: none;
                        color: #333645; // *SNAGGING* - Colour variables
                        &:hover {
                            text-decoration: underline;
                            font-size: 1.625rem;
                            padding-bottom: 15px;
                        }
                    }                
                }

                .articles-wrapper {
                    margin-bottom: 50px;
                    width: 100%;

                    .article-list {

                        .articles {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content:center;
                            gap: 30px;

                            > div {
                                width: calc(100% - 30px);
                                
                            }

                            @media (min-width: 768px) {
                                > div {
                                    width: 345px;
                                }

                                .hide-article-3 {
                                    display: none;
                                }
                            }

                            @media (min-width: 992px) {
                                > div {
                                    width: 455px;
                                }
                            }

                            @media (min-width: 1260px) {
                                > div {
                                    width: 370px;
                                }

                                .hide-article-3 {
                                    display: block;
                                }
                            }
                        }
                    }
                }                
            }
        }
    }

    .article-picture img {
        width: 100%;
    }
}


.margin-reduction-LN {
    padding: 30px;

    h3 {
        display: flex;
        flex-direction: column;
        flex-basis: content;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
        padding: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-bottom: 20px;

        div {
            color: #67809f;
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }

    .article-second-line {
        display: table-cell;
        line-height: 1.375rem;
        font-size: 0.8125rem;
        padding-bottom: 25px;
        padding-top: auto;
    }
}


.posted-by {
    font-size: .8125rem;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 0;
    border-top: 1px solid #ccc;
    height: 77.67px;

    .posted-by-text {
        display: inline-block;
        padding-left: 20px;
        line-height: 1.375rem;
        width: calc(100% - 47px);

        strong {
            text-wrap: wrap;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.6px;
        }
    }

    img {
        display: block;
        float: left;
        position: relative;
        vertical-align: top;
    }
}

.article-content {
    box-shadow: 0 0 15px 15px #eeeeee99;
    border: 0.67px solid #ccc;
    border-radius: 0 0 3px 3px;
    margin-top: 30px;
}

.view-all-pop-top {
    display: none;
    position: relative;
    padding-left: 15px;
    padding-right: 0px;
    margin-bottom: 0px;
    left: 26px;

    a {
        display: inline-block;
        font-size: 1.625rem;
        width: 180px;


        i {
            position: relative;
            right: 36px;
            bottom: 1px;
            scale: 0.8;
        }
        
    }

    

    @media (min-width: 768px) {
        display: block;
    }
}

.view-all-pop-bottom {
    display: block;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 28px;

    a {
        font-size: 1.625rem;
        
    }

    i {
        position: relative;
        right: 23px;
        bottom: 5px;
    }

    @media (min-width: 768px) {
        display: none;
    }
}

