body {
    margin: 0;    
    background-color: #323544; // *SNAGGING* - Colour variables

}

* {
    box-sizing: border-box;
}

.welcome-flex-wrapper {
    display: flex;
    flex-direction: column;
    .star {
        width: 46.83px;
        height: 50px;
    }
    .citation-wrapper {
        margin-bottom: 25px;
    }
}

.container-inverse {
   
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    color: #333645; // *SNAGGING* - Colour variables
    background-color: #fff;

    @media (min-width: 768px) {
        width: 750px;            
    }

    @media (min-width: 992px) {
        width: 970px;            
    }

    @media (min-width: 1260px) {
        width: 1200px;            
    }

}

.container {
   
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff; // *SNAGGING* - Colour variables
    background-color: #323544;

    @media (min-width: 768px) {
        width: 750px;            
    }

    @media (min-width: 992px) {
        width: 970px;            
    }

    @media (min-width: 1260px) {
        width: 1200px;            
    }

}

.container-transparent {
   
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff; // *SNAGGING* - Colour variables
    background-color: transparent;

    @media (min-width: 768px) {
        width: 750px;            
    }

    @media (min-width: 992px) {
        width: 970px;            
    }

    @media (min-width: 1260px) {
        width: 1200px;            
    }

}

.view-all-pop-top {
    display: none;

    @media (min-width: 768px) {
        display: block;
    }
}

.view-all-pop-bottom {
    display: block;

    @media (min-width: 768px) {
        display: none;
    }
}

.LN-button-gold {
    @include dummy-button($txt-colour: #fff, $bg-colour: #f7b322);
}

.LN-button-blue {
    @include dummy-button($txt-colour: #fff, $bg-colour: #4183d7);
}

