body {
    margin: 0;
    background-color: #323544; // *SNAGGING* - Colour variables
    overflow-x: clip;
    z-index: 0;

}

* {
    box-sizing: border-box;
}

header {
    margin: 0;
    width: 100vw;
    background-color: #323544;
    z-index: 0;
}

.container-contact {

    height: auto;
    width: 100vw;
    padding: 0;
    color: #333645; // *SNAGGING* - Colour variables
    background-color: #fff;
    overflow-x: clip;

    @media (min-width: 768px) {
        min-width: 750px;
    }

    @media (min-width: 992px) {
        min-width: 970px;
    }

    @media (min-width: 1260px) {
        min-width: 1200px;
    }
    

}