body {
    margin: 0;    
    background-color: #323544; // *SNAGGING* - Colour variables

}

* {
    box-sizing: border-box;
}

.welcome-text {
    p {
        margin-bottom: 25px;
        line-height: 30px;
    }
}

.welcome-flex-wrapper {
    display: flex;
    flex-direction: column;

    .rating-stars {
        height: 5px;
        padding-top: 100px;
    }

    .star {
        width: 46.83px;
        height: 50px;
        vertical-align: sub;
        font-size: 42.5px;
        position: relative;
    }

    .citation-wrapper {
        margin-bottom: 25px;
    }

    .welcome-buttons {
        letter-spacing: 0.2px;
        
        i {
            margin-left: 11px;
        }
    }
}

.container-inverse {   
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    color: #333645; // *SNAGGING* - Colour variables
    background-color: #fff;

    @media (min-width: 768px) {
        width: 750px;            
    }

    @media (min-width: 992px) {
        width: 970px;            
    }

    @media (min-width: 1260px) {
        width: 1200px;            
    }

}

.container {
   
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff; // *SNAGGING* - Colour variables
    background-color: #323544;

    @media (min-width: 768px) {
        width: 750px;            
    }

    @media (min-width: 992px) {
        width: 970px;            
    }

    @media (min-width: 1260px) {
        width: 1200px;            
    }

}

.container-welcome {
   
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 50px 15px;
    color: #fff; // *SNAGGING* - Colour variables
    background-color: #323544;

    @media (min-width: 768px) {
        width: 750px;            
    }

    @media (min-width: 992px) {
        width: 970px;            
    }

    @media (min-width: 1260px) {
        width: 1200px;            
    }

}

.container-transparent {
   
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff; // *SNAGGING* - Colour variables
    background-color: transparent;

    @media (min-width: 768px) {
        width: 750px;            
    }

    @media (min-width: 992px) {
        width: 970px;            
    }

    @media (min-width: 1260px) {
        width: 1200px;            
    }

}

.container-services {
   
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 50px 15px;
    color: #333645; // *SNAGGING* - Colour variables
    background-color: #fff;

    @media (min-width: 768px) {
        width: 750px;            
    }

    @media (min-width: 992px) {
        width: 970px;            
    }

    @media (min-width: 1260px) {
        width: 1200px;            
    }

}

.view-all-pop-top {
    display: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;

    a {
        font-size: 1.625rem;
        
    }

    i {
            vertical-align: 1px;
            scale: 0.85;
    }

    @media (min-width: 768px) {
        display: block;
    }
}

.view-all-pop-bottom {
    display: block;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;

    a {
        font-size: 1.625rem;
        
    }

    i {
            vertical-align: 2.5px;
            scale: 1.25;
    }

    @media (min-width: 768px) {
        display: none;
    }
}

.dummy-button-gold {
    @include dummy-button($txt-colour: #fff, $bg-colour: #f7b322);
}

.dummy-button-blue {
    @include dummy-button($txt-colour: #fff, $bg-colour: #4183d7);
}

.dummy-button-green {
    @include dummy-button($txt-colour: #fff, $bg-colour: #2ecc71);
}