body {
    margin: 0;    
    background-color: #323544; // *SNAGGING* - Colour variables

}

.banner-content {
    align-content: center;
    padding: 3.75rem 0;
    margin: 0 auto;
} 


* {
    box-sizing: border-box;
}

.welcome-flex-wrapper {
    display: flex;
    flex-direction: column;
    .star {
        width: 46.83px;
        height: 50px;
    }
    .citation-wrapper {
        margin-bottom: 25px;
    }
}


.container {
   
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff; // *SNAGGING* - Colour variables

    @media (min-width: 768px) {
        width: 750px;            
    }

    @media (min-width: 992px) {
        width: 970px;            
    }

    @media (min-width: 1260px) {
        width: 1200px;            
    }

}

