body {
    margin: 0;    
    background-color: #323544;

}

* {
    box-sizing: border-box;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;

    @media (min-width: 768px) {
        width: 750px;            
    }

    @media (min-width: 992px) {
        width: 970px;            
    }

    @media (min-width: 1260px) {
        width: 1200px;            
    }
}