.container-services {
    height: auto;
    width: 100vw;
    padding: 50px 0;
    color: #333645; // *SNAGGING* - Colour variables
    background-color: #fff;

    .services-h-wrapper {
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        @media (max-width: 767.99px) {

            .services-wrapper {
                .services-item:nth-child(2) {
                    max-width: 720px;
                    margin-left: 15px;
                }
            }

            .services-wrapper {
                .services-item:nth-child(3) {
                    max-width: 720px;
                    margin-left: 15px;
                }
            }

            .services-wrapper {
                .services-item:nth-child(4) {
                    max-width: 720px;
                    margin-left: 15px;
                }
            }

            .services-wrapper {
                .services-item:nth-child(5) {
                    max-width: 720px;
                    margin-left: 15px;
                }
            }

            .services-wrapper {
                .services-item:nth-child(6) {
                    max-width: 720px;
                    margin-left: 15px;
                }
            }

            .services-wrapper {
                .services-item:nth-child(7) {
                    max-width: 720px;
                    margin-left: 15px;
                }
            }

            .services-wrapper {
                .services-item:nth-child(8) {
                    max-width: 720px;
                    margin-left: 15px;
                }
            }

        }

        @media (min-width: 768px) {
            width: 750px;

            .services-wrapper {
                .services-item:nth-child(2) {
                    width: 720px;
                }
            }

            .services-wrapper {
                .services-item:nth-child(3) {
                    width: 720px;
                }
            }

            .services-wrapper {
                .services-item:nth-child(4) {
                    width: 720px;
                }
            }

            .services-wrapper {
                .services-item:nth-child(5) {
                    width: 345px;
                    height: 320.54px;
                }
            }

            .services-wrapper {
                .services-item:nth-child(6) {
                    width: 345px;
                    height: 320.54px;
                    margin-left: 30px;
                }
            }

            .services-wrapper {
                .services-item:nth-child(7) {
                    width: 345px;
                    height: 320.54px;
                }
            }

            .services-wrapper {
                .services-item:nth-child(8) {
                    width: 345px;
                    height: 320.54px;
                    margin-left: 30px;
                }
            }

        }

        @media (min-width: 992px) {
            width: 970px;


            .services-wrapper {
                .services-item:nth-child(2) {
                    width: 293.33px;
                    height: 387.42px;

                }
            }

            .services-wrapper {
                .services-item:nth-child(3) {
                    width: 293.33px;
                    height: 387.42px;
                    margin-left: 30px;

                }
            }

            .services-wrapper {
                .services-item:nth-child(4) {
                    width: 293.33px;
                    height: 387.42px;
                    margin-left: 30px;
    
                }
            }

            .services-wrapper {
                .services-item:nth-child(5) {
                    width: 455px;
                    height: 320.54px;

                }
            }

            .services-wrapper {
                .services-item:nth-child(6) {
                    width: 455px;
                    height: 320.54px;

                }
            }

            .services-wrapper {
                .services-item:nth-child(7) {
                    width: 455px;
                    height: 320.54px;

                }
            }

            .services-wrapper {
                .services-item:nth-child(8) {
                    width: 485px;
                    height: 320.54px;

                }
            }

        }

        @media (min-width: 1260px) {
            width: 1200px;

            .services-wrapper {
                .services-item:nth-child(2) {
                    width: 370px;
                    height: 343.42px;

                }
            }

            .services-wrapper {
                .services-item:nth-child(3) {
                    width: 370px;
                    height: 343.42px;
                    margin-left: 30px;

                }
            }

            .services-wrapper {
                .services-item:nth-child(4) {
                    width: 370px;
                    height: 343.42px;
                    margin-left: 30px;

                }
            }

            .services-wrapper {
                .services-item:nth-child(5) {
                    width: 270px;
                    height: 342px;

                }
            }

            .services-wrapper {
                .services-item:nth-child(6) {
                    width: 270px;
                    height: 342px;
                    margin-left: 30px;

                }
            }

            .services-wrapper {
                .services-item:nth-child(7) {
                    width: 270px;
                    height: 342px;
                    margin-left: 30px;

                }
            }

            .services-wrapper {
                .services-item:nth-child(8) {
                    width: 270px;
                    height: 342px;
                    margin-left: 30px;

                }
            }
        }

        .services-wrapper {
            display: flex;
            flex-wrap: wrap;
            flex-grow: 3;
            flex-shrink: 0;
            margin: 0 auto;
            max-width: 1200px;
            

            .services-title {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-bottom: 15px;
                font-size: 2.7rem;
                font-weight: 400;
                line-height: 1.1;
                letter-spacing: 0.3px;

                @media (max-width: 767.99px) {

                    div {            
                        padding-left: 15px;
                    }
                }

                h3 a {
                    display: inline-block;
                    text-decoration: none;
                    vertical-align: sub;

                    i {
                        position: relative;
                        vertical-align: middle;
                        margin-bottom: 9px;
                        width: fit-content;
                        right: 40px;
                    }
                }
            }
            
            .services-item {
                
                .services-item-wrapper {
                    margin-top: 30px;
                    padding: 30px;
                    text-align: center;
                    border: 1px solid lightgray;
                    border-radius: 15px;
                    height: calc( 100% - 30px);

                    .services-hidden {
                        display: none;
                    }
                }

            }

            .services-item-title {
                font-size: 1.3rem;
                padding-bottom: 10px;
                margin-bottom: 11px;
            }

            .services-item-description {
                font-size: .8125rem;
                margin-bottom: 13px;
                font-weight: 400;

            }

            .services-item:nth-child(2) {

                .services-item-wrapper {
                    @include services-bump-colour($colour-all: #67809f, $img-padding: 12px);

                }
            }
            
            .services-item:nth-child(3) {

                .services-item-wrapper {
                    @include services-bump-colour($colour-all: #4183d7, $img-padding: 14px);

                }
            }
            
            .services-item:nth-child(4) {

                .services-item-wrapper {
                    @include services-bump-colour($colour-all: #2ecc71, $img-padding: 8px);

                }
            }
            
            .services-item:nth-child(5) {

                .services-item-wrapper {
                    @include services-bump-colour($colour-all: #d64541, $img-padding: 16px);

                }
            }
            
            .services-item:nth-child(6) {

                .services-item-wrapper {
                    @include services-bump-colour($colour-all: #926fb1, $img-padding: 15px);

                }
            }
            
            .services-item:nth-child(7) {

                .services-item-wrapper {
                    @include services-bump-colour($colour-all: #f62459, $img-padding: 14px);

                }
            }
            
            .services-item:nth-child(8) {

                .services-item-wrapper {
                    @include services-bump-colour($colour-all: #ce4125, $img-padding: 14px);

                }
            }
        }

        .view-our-work-pop-top {
            display: none;
            margin-bottom: 20px;

            a {
                font-size: 2.225rem;
                font-weight: 600;

                i {
                    vertical-align: 1px;
                    scale: 0.85;
                    text-decoration: none;
                }        
            }

            @media (min-width: 768px) {
                display: block;
            }
        }

        .view-our-work-pop-bottom {
            display: block;
            margin: 0 auto;
            padding-left: 40px;
            padding-right: 15px;
            margin-top: 32px;
            width: fit-content;
            text-decoration: none;

            a {
                font-size: 1.625rem;

                i {
                    position: relative;
                    right: 30px;
                    vertical-align: 1px;
                    scale: 1.25;            
                    font-size: 1.625rem;
                }
            }

            @media (min-width: 768px) {
                display: none;
            }
        }
    }
}