.services-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;

    .services-title {
        padding-left: 15px;
        padding-bottom: 15px;
        font-size: 2.7rem;
        font-weight: 400;
        line-height: 1.1;
    }

    .services-item {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }

    .services-item-wrapper {
        margin-top: 30px;
        padding: 30px;
        text-align: center;
        border-radius: 15px;
    }

    .icon-wrapper {
        width: 65px;
        height:65px;
    }

    .services-item-title {
        font-size: 1.3rem;
        padding-bottom: 10px;
        margin-bottom: 11px;
    }

    .services-item-description {
        font-size: .8125rem;
        margin-bottom: 13px;
        font-weight: 400;

    }

}