.services-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;

    :first-child {
        padding-left: 15px;
        font-size: 2.7rem;
        font-weight: 400;
        line-height: 1.1;
    }

}