#sidemenu-desktop {

    &:focus {
        outline: none;
    }

    position: fixed;
    background-color: #262834;
    background-attachment: scroll;
    color: white;
    width: 335px;
    height: 100vh;
    right: 0;
    overflow-x: clip;
    z-index: -5;
    list-style-type: none;
    scrollbar-gutter: stable;
    padding-right: 10px;


    .desktop-sidebar-item::before {

        content: url("../img/icons/angles-right-solid-sm.png");
        position: relative;
        width: 0.5rem;
        height: 0.5rem;
        top: 26%;
        left: 6%;
        z-index: 5;
    }

    .desktop-sidebar-item {

        :focus {
            box-shadow: inset 0 0 1px 1px white;
            border-radius: 0.2rem;
        }

        width: 335px;
        height: 51px;
        font-size: 0.875rem;
        border-top: 1px solid rgba(0,0,0,0.45);
        letter-spacing: 0.4px;

        
        a {
            display:inline-block;
            text-decoration: none;
            color: white;
            position: relative;
            bottom: 48%;
            left: 0%;
            width: 335px;
            height: 51px;
            padding: 15px 15px 25px 15px;
        }
        
        .sidemenu-anchor {
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            
        }
    }

    .desktop-sidebar-title {

        :focus {
            box-shadow: inset 0 0 1px 1px white;
            border-radius: 0.2rem;
        }

        height: 56px;
        background-color: #333645;
        font-size: 1rem;
        // padding: 18px 20px 22px 20px;
        border-top: 1px solid rgba(255,255,255,0.1);
        border-bottom: 1px solid rgba(0,0,0,0.25);
        letter-spacing: 0.4px;
        width: 335px;

        a {
            display:inline-block;
            text-decoration: none;
            color: white;
            position: relative;
            bottom: 0;
            left: 0;
            width: 335px;
            height: 56px;
            padding: 16px 15px 24px 15px;
        }

        .sidemenu-anchor {
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
        }
    }

}

#sidemenu-mobile {

    &:focus {
        outline: none;
    }

    list-style-type: none;
    position: fixed;
    background-color: #333645;
    background-attachment: scroll;
    color: white;
    width: 260px;
    height: 100vh;
    right: 0;
    overflow-x: clip;
    z-index: -5;
    text-align: center;
    scrollbar-gutter: stable;

    #mobile-sidebar-top-section {

        .mobile-subsection {
            
            &:hover {

                .mobile-sidebar-title * {
                    background-color: #3d404e;
                }
            }
        }

        padding: 21px;

        #sidemenu-mobile-contact-btn {
        
            a {
                display: inline-block;
                height: 64.7px;
                width: 218px;
                padding: 20px 0 17px;
                font-size: 1.125rem;
                color: white;
                text-decoration: none;
                border: 1px solid rgba(255,255,255,0.1);
                border-radius: 3px;


            }
        }

        .mobile-sidebar-title {

            position: relative;
            top: 0;
            left: 0;
            width: 218px;
            height: 113px;
            margin-bottom: 20px;
            margin-top: 20px;

            .sidemenu-anchor {

                width: 218px;
                height: 113px;
                padding: 12px 0 18px 0;
                position: relative;
                top: 0;
                left: 0;
                background-color: #333645;
                font-size: 1.125rem;
                border: 1px solid rgba(255,255,255,0.1);
                border-radius: 3px;
                letter-spacing: 0.4px;
                cursor: pointer;

                .sidemenu-title-small {
                    font-size: 0.625rem;
                }


                .mobile-sidebar-title-link {

                    display:inline-block;
                    text-decoration: none;
                    color: white;
                    position: relative;
                    top: -1rem;
                    left: 0;
                    width: 218px;
                    height: 56px;
                    padding: 16px 15px 24px 15px;

                }

                // &:hover {
                //     background-color: #3d404e;
                // }
            }
        }

        .mobile-sidebar-item {

            :focus {
                box-shadow: inset 0 0 1px 1px white;
                border-radius: 0.2rem;
            }

            width: 218px;
            border-top: 1px solid rgba(255,255,255,0.05);
            border-bottom: 1px solid rgba(0, 0, 0, 0.45);
            background-color: #262834;

            a {
                display: inline-block;
                font-size: 1rem;
                padding: 10px;
                letter-spacing: 0.4px;
                width: 218px;
                color: white;
                text-decoration: none;
            }

        }
    }

    .mobile-sidebar-item-alt::before {

        content: url("../img/icons/angles-right-solid-sm.png");
        position: relative;
        width: 0.8rem;
        height: 1.3rem;
        z-index: 5;

    }

    .mobile-sidebar-item-alt {

        :focus {
            
            box-shadow: inset 0 0 1px 1px white;
            border-radius: 0.2rem;
            
        }

        display: flex;
        align-items: center;

        text-align: left;
        width: 260px;
        height: fit-content;
        font-size: 0.875rem;
        border-top: 1px solid rgba(0,0,0,0.45);
        letter-spacing: 0.4px;
        background-color: #262834;
        padding-left: 1.4rem;



        .sidemenu-anchor {
            display: block;
            position: relative;
            width: 100%;
            height: fit-content;
            bottom: 0;
            left: 0;

            a {
                display: block;
                text-decoration: none;
                color: white;
                position: relative;
                font-size: 0.875rem;
                bottom: 0;
                left: -32px;
                width: 260px;
                height: fit-content;
                padding: 15px 15px 15px 50px;
            }
            
        }

    }


    .mobile-sidebar-title-alt {

        :focus {
            
            box-shadow: inset 0 0 1px 1px white;
            border-radius: 0.2rem;
            
        }

        display: flex;
        align-items: center;

        height: 56px;
        background-color: #333645;
        font-size: 1rem;
        padding: 18px 20px 22px 20px;
        border-top: 1px solid rgba(255,255,255,0.1);
        border-bottom: 1px solid rgba(0,0,0,0.25);
        letter-spacing: 0.4px;
        width: 260px;
        text-align: left;

    
        .sidemenu-anchor {
            display: block;
            position: relative;
            width: 100%;
            height: fit-content;
            bottom: 0;
            left: 0;

            a {
                display: block;
                text-decoration: none;
                color: white;
                position: relative;
                bottom: 0;
                left: -20px;
                width: 260px;
                height: fit-content;
                padding: 17px 15px 13px 24px;
            }
            
        }
    }
}