.welcome-text {
    p {
        margin-bottom: 25px;
        line-height: 30px;
    }
}

.welcome-flex-wrapper {
    display: flex;
    flex-direction: column;

    .rating-stars {
        height: 5px;
        padding-top: 100px;
    }

    .star {
        width: 46.83px;
        height: 50px;
        vertical-align: sub;
        font-size: 42.5px;
        position: relative;
    }

    .citation-wrapper {
        margin-bottom: 25px;
    }

    .welcome-buttons {
        letter-spacing: 0.2px;
        
        i {
            margin-left: 11px;
        }
    }
}

