
.button-large-dkblueBG {
    @include button-large($bg_colour: #212330, $hover-colour: #121318); // *SNAGGING* - Colour variables
}

.button-large-blueBG {
    @include button-large($bg_colour: #4387f6, $hover-colour: #166af4); // *SNAGGING* - Colour variables
}

.button-large-greenBG {
    @include button-large($bg_colour: #00b67b, $hover-colour: #009b69); // *SNAGGING* - Colour variables
}

.button-large-purpleBG {
    @include button-large($bg_colour: #926fb1, $hover-colour: #7e57a0); // *SNAGGING* - Colour variables
}

.button-large-goldBG {
    @include button-large($bg_colour: #f7b322, $hover-colour: #e8a008); // *SNAGGING* - Colour variables
}

.button-large-brickredBG {
    @include button-large($bg_colour: #d64541, $hover-colour: #c42e2a); // *SNAGGING* - Colour variables
}

.button-large-ceriseBG {
    @include button-large($bg_colour: #f62459, $hover-colour: #e80a42); // *SNAGGING* - Colour variables
}

.button-banner-purpleBG {
    @include button-banner($bg_colour: #926fb1, $hover-colour: #7e57a0); // *SNAGGING* - Colour variables
}


.dummy-button-gold {
    @include dummy-button($txt-colour: #fff, $bg-colour: #f7b322);
}

.dummy-button-blue {
    @include dummy-button($txt-colour: #fff, $bg-colour: #4183d7);
}

.dummy-button-green {
    @include dummy-button($txt-colour: #fff, $bg-colour: #2ecc71);
}

.dummy-button-brickred {
    @include dummy-button($txt-colour: #fff, $bg-colour: #d64541);
}

.dummy-button-purple {
    @include dummy-button($txt-colour: #fff, $bg-colour: #926fb1);
}

.dummy-button-cerise {
    @include dummy-button($txt-colour: #fff, $bg-colour: #f62459);
}

.dummy-button-redbrown {
    @include dummy-button($txt-colour: #fff, $bg-colour: #ce4125);
}

.link-underline-only {
    a {
        text-decoration: none;
        color: #fff; // *SNAGGING* - Colour variables
        &:hover {
            text-decoration: underline;
        }
    }
}
