
@font-face {    
    font-family: "Poppins";
    src: local(""), url(../fonts/poppins-v15-latin-regular.woff2) format("woff2");
    font-style: normal;
    font-weight: 400;
    
}

.no-LR-padding {
    padding-left: 0;
    padding-right: 0;
}

.bold-26 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.h2-36 {
    font: 2.25rem "poppins", normal;
    font-size: 36px;
    line-height: 39.6px;
    margin: 0 0 40px;
    font-weight: 900;
}

.h1-64 {
    font-size: 64px;
    line-height: 5rem;
    font-weight: 600;
}

.h1-2p5rem {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 600;
}

.testimonial {
    display: inline-block;
    font-weight: 600;
    font-size: 1.3rem;
    font-style: italic;
    line-height: 1.875rem;
    letter-spacing: 0.6px;
    margin-bottom: 25px;
}

// how do i condense this to avoid repetition?
.citation {
    display: inline-block;
    font-weight: 600;
    color: #a3a8ac;
    font-size: 1.1rem;
    line-height: 1.875;

    + span {        
        display: inline-block;
        color:white;
        font-weight: 600;
        font-size: 1.1rem;
        line-height: 1.875;

        a {
            display: inline-block;
        }
    }
}

.welcome-anchors {
    margin-bottom: 50px;
}


body {
    font: 1rem "Poppins";
    letter-spacing: 0.4px;
    line-height: 1.375rem;
}

.footer-sub, .footer-menu, .footer-menu ul {
    font-size: 0.8125rem;
    padding-inline-start: 0em;
}

.footer-sub {
    line-height: 1.13rem;
}

.no-top-margin {
    margin-top: 0;
}