@mixin button-no-action-large($bg_colour: transparent) {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    width: fit-content;
    margin-top: 1em;
    margin-right: 0.25em;
    padding: 10px 30px 10px 30px;
    background-color: $bg_colour;
    text-transform: uppercase;
    border-radius: 0.3rem;
    line-height: 35px;
}