
@mixin button-large($bg-colour: #0f0, $hover-colour: #f0f) {
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    color: #fff; // *SNAGGING* - Colour variables
    font-size: 20px;
    width: fit-content;
    margin-top: 1em;
    margin-right: 0.3em;
    padding: 10px 22px 10px 22px;
    background-color: $bg-colour;
    text-transform: uppercase;
    border-radius: 0.2rem;
    line-height: 35px;
    &:hover {
        background-color: $hover-colour;
    }
}

@mixin button-large-contact($bg-colour: #0f0, $hover-colour: #f0f) {
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    color: #fff; // *SNAGGING* - Colour variables
    font-size: 1.125rem;
    width: fit-content;
    padding: 5px 15px;
    background-color: $bg-colour;
    text-transform: uppercase;
    border-radius: 0.2rem;
    line-height: 45px;
    &:hover {
        background-color: $hover-colour;
    }
}

@mixin button-banner($bg-colour: #0f0, $hover-colour: #f0f) {
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    color: #fff; // *SNAGGING* - Colour variables #f7b322
    font-size: 20px;
    width: fit-content;
    margin-top: 1em;
    padding: 5px 20px;
    background-color: $bg-colour;
    text-transform: uppercase;
    border-radius: 0.2rem;
    line-height: 3rem;    
    z-index: 0;
    &:hover {
        background-color: $hover-colour;
    }
}

@mixin client-popup-triangle($triangle-colour: #f0f) {
    width: 0; height: 0;
    border-style: solid;
    border-width: 35px 35px 0px 35px;
    border-color: $triangle-colour transparent transparent transparent;
    transform: rotate(0deg);
}

@mixin dd-popup-triangle($triangle-colour: #f0f, $side-length: 20px) {
    width: 0; height: 0;
    border-style: solid;
    border-width: 20px $side-length 0px $side-length;
    border-color: $triangle-colour transparent transparent transparent;
    transform: rotate(0deg);
}

@mixin dummy-button($txt-colour: #0f0, $bg-colour: #f0f) {
    padding: 5px 15px;
    font-size: 1.063rem;
    height: auto;
    color: $txt-colour;
    background-color: $bg-colour;
    border-radius: 3px;
    width: fit-content;
    line-height: 35px;
}

@mixin show-dd-submenu($dd-sbm: ".dd-sbm-1", $dd-item: ".dd-item-1", $bg-dark: #f0f, $bg-lgt: #f0f) {

    .hidden {
        display: block;
    }

    .dd-hidden {
        display: inline;
    }

    .dd-default {
        display: none;
    }

    .dd-triangle {
        position: absolute;

        @media (min-width: 992px) {

            @if ($dd-item != ".dd-item-1") { // Fix for dodgy arrow on original :-P
                margin-top: 20px;
            }

            @include dd-popup-triangle($triangle-colour: $bg-lgt, $side-length: 67px);
            z-index: 5;
        }

        @media (min-width: 1260px) {

            @if ($dd-item != ".dd-item-1") {
                margin-top: 0;
            }
            @include dd-popup-triangle($triangle-colour: $bg-lgt, $side-length: 84.5px);
            z-index: 5;
        }
    }

    &#{$dd-item} {
        background-color: $bg-lgt;
    }

    #{$dd-sbm} {
    
        width: 100vw;
        left: 0;
        right: 0;
        position: absolute;
        top: 232.6px;
        z-index: 2;
        background-color: $bg-dark;

        @media (min-width: 1260px) {
            top: 212.6px;
        }


        .dd-sbm-wrapper {                    
            width: 970px;

            @media (min-width: 1260px) {
                width: 1260px;
            }

            margin: 0 auto;
            
            .dd-sbm-title {
                width: 100%;
                font-size: 2rem;
                font-weight: 500;
                text-align: left;
                padding-top: 55px;
                padding-bottom: 8px;
                margin-bottom: 8px;
            }
            
            .dd-sbm-items {

                display: flex;
                flex-wrap: wrap;
                margin-bottom: 25px;
                align-items: center;

                .dd-sbm-link {
                    text-align: left;
                    width: 33%;
                    height: 41px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    letter-spacing: 0.8px;

                    .dd-sbm-flex {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        .dd-sbm-icon {
                            display: inline-block;
                            padding-top: 4px;

                            img {
                                width: 25px;
                                height: auto;
                            }
                        }

                        a {
                            color: #fff;
                            font-size: 1.2rem;
                            line-height: 1.313rem;
                            text-decoration: none;
                            padding-left: 15px;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}
