@mixin button-no-action-large($bg-colour: #0f0, $hover-colour: #f0f) {
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    color: #fff; // *SNAGGING* - Colour variables
    font-size: 20px;
    width: fit-content;
    margin-top: 1em;
    margin-right: 0.25em;
    padding: 10px 30px 10px 30px;
    background-color: $bg-colour;
    text-transform: uppercase;
    border-radius: 0.2rem;
    line-height: 35px;
    &:hover {
        background-color: $hover-colour;
    }
}